name: CI

on: [ push, pull_request ]
env:
  LATEST_NODE: '14'

jobs:
  lockfile-lint:
    name: Lockfile lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.LATEST_NODE }}
      - name: lint lock file
        run: npx lockfile-lint --path package-lock.json --allowed-hosts npm --validate-https

  test:
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
        node: [ '10', '12', ${{ env.LATEST_NODE }} ]
    needs: lockfile-lint
    name: Unit Tests Node ${{ matrix.node }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: install dependencies
        run: npm ci
      - name: lint + units tests
        run: npm run test:ci
      - name: Coveralls
        uses: coverallsapp/github-action@master
        if: matrix.node == ${{ env.LATEST_NODE }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
